@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
* {
  background-color: #01010f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}
section {
  width: 80vw;
  /* padding: 60px 20px; */
  height: 90vh;
  margin: auto;
  align-items: center;
  /* justify-content: center; */
  padding-left: 50px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}

/* NAVBAR STYLES */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  padding: 0px 100px;
  /* position: fixed;
  z-index: 10; */
}
.logo a {
  font-weight: bolder;
  font-size: 22px;
  color: #daa520;
  align-items: center;
  justify-content: center;
}
.logo span {
  font-size: 80px;
  color: rgb(4, 192, 192);
}
.logo a {
  color: goldenrod;
  font-weight: bold;
}
.nav_links {
  display: flex;
  gap: 150px;
}
.nav_links ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 900;
}
.nav_links ul li a {
  color: goldenrod;
}
.nav_links ul li a:active {
  color: rgb(4, 192, 192);
  text-decoration: underline;
}

.nav_links ul li a:hover {
  color: rgb(4, 192, 192);
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.hireBtn a {
  height: 30px;
  width: 120px;
  background-color: goldenrod;
  border-radius: 30px;
  padding: 15px 30px;
  font-weight: bold;
  color: #01010f;
}
.hireBtn a:hover {
  background-color: transparent;
  border: 1px solid goldenrod;
  color: aqua;
}
.Btn a {
  border: 1px solid goldenrod;
  border-radius: 30px;
  font-weight: bold;
  padding: 15px 30px;
  color: aquamarine;
}

.heroleft {
  align-items: center;
  justify-content: center;
}
.helloText {
  font-size: 40px;
  padding-bottom: 60px;
  color: goldenrod;
  font-weight: bold;
}
.nameText {
  color: rgb(223, 247, 247);
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
}
.nameText span {
  color: rgb(4, 192, 192);
  font-size: 45px;
  font-weight: bolder;
}
#heroSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.heroright img {
  align-self: center;
  padding-left: 100px;
  width: 100%;
  height: 100%;
}
.btn_container {
  display: flex;
  gap: 30px;
  padding: 50px 0;
}
/* ABOUT STYLES */

.aboutcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}
.aboutHead h2 {
  color: goldenrod;
  font-size: 50px;
  font-weight: 700;
  padding-bottom: 20px;
}
.aboutHead span {
  color: rgb(4, 192, 192);
}
@keyframes example {
  0% {
    border: 5px dotted gold;
  }
  30% {
    border: 5px dotted teal;
  }
  50% {
    border: 5px dotted goldenrod;
  }
  80% {
    border: 5px dotted teal;
  }
  100% {
    border: 5px dotted goldenrod;
  }
}
.borderDiv {
  width: 350px;
  height: 500px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 5px dotted rgb(4, 192, 192);
  position: absolute;
  left: 14%;
  background-color: transparent;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.about_left {
  padding-right: 50px;
}

.aboutHead p {
  color: rgb(223, 247, 247);
  font-size: 18px;
  letter-spacing: 1.3;
  line-height: 2;
}
.downloadBtn {
  padding: 50px 0;
}
.projectsText {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 3px;
}
.projectsText span {
  font-size: 26px;
  font-weight: 700;
  padding-right: 10px;
}

/* SERVICES STYLES */

.services_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.services {
  width: 400px;
  height: 280px;
  border-radius: 18px;
  /* background-color: gold; */
  padding: 20px;
  gap: 30px;
  text-align: center;
  margin-bottom: 25px;
}

.services:nth-child(1) {
  border: 2px dotted goldenrod;
  border-radius: 18px;
  box-shadow: rgba(218, 165, 32, 0.438) 0px 8px 24px;
}
.services:nth-child(2) {
  border: 2px dotted rgb(12, 253, 4);
  border-radius: 18px;
  box-shadow: rgba(32, 218, 32, 0.363) 0px 8px 24px;
}
.services:nth-child(3) {
  border: 2px dotted rgb(12, 224, 214);
  border-radius: 18px;
  box-shadow: rgba(32, 206, 218, 0.438) 0px 8px 24px;
}
.services:nth-child(4) {
  border: 2px dotted rgb(199, 12, 224);
  border-radius: 18px;
  box-shadow: rgba(203, 32, 218, 0.329) 0px 8px 24px;
}
.services:nth-child(5) {
  border: 2px dotted rgb(215, 238, 237);
  border-radius: 18px;
  box-shadow: rgba(237, 232, 238, 0.329) 0px 8px 24px;
}
.services h3 {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 600;
  color: rgb(223, 247, 247);
  padding: 10px 0;
}
.icon i {
  font-size: 50px;
  align-items: center;
  color: teal;
  padding: 20px 0;
}
.services hr {
  height: 15px;
  display: flex;
  width: 100px;
  border-radius: 20px;
  background-color: goldenrod;
  margin: auto;
  border: none;
}
.serviceText {
  color: goldenrod;
  font-size: 50px;
  text-align: center;
  padding: 30px 0;
  background-color: transparent;
}
.serviceText span {
  color: rgb(4, 192, 192);
  font-size: 50px;
  text-align: center;
  padding: 30px 0;
}

.row1 {
  display: flex;
}
.row2 {
  display: flex;
}
.imgcon {
  width: 650px;
}
.container {
  position: relative;
  width: 100%;
}
.container img:nth-child(1) {
  width: 700px;
  padding: 5px;
  height: 280px;
  border-radius: 18px;
}

.container img:nth-child(2) {
  width: 300px;
  padding: 5px;
  height: 300px;
  border-radius: 18px;
}
.image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: cover;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  background: transparent;
}
.skillsSection {
  margin-top: 100px;
}
.middle p {
  background: transparent;
  color: goldenrod;
  font-size: 16px;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  display: flex;
  gap: 20px;
  background: transparent;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  width: 100%;
}
.text a {
  text-decoration: none;
  background: transparent;
  font-size: 26px;
  color: gold;
}
.text i {
  background: transparent;
  font-size: 20px;
  color: gold;
  justify-content: center;
}
/* SKILLS STYLES */
.visme_d {
  height: 80vh;
  width: 600px;
}
footer {
  margin: auto;
  height: 50vh !important;
  /* background-color: red; */
  margin: auto;
  padding: 60px 60px;
}
.footerContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: gold;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
.footer_items h2 {
  padding: 30px;
  max-width: 300px;
}
.footer_items p {
  padding: 30px;
  max-width: 300px;
}
.links {
  display: flex;
  gap: 15px;
  align-items: center;
}
.links a {
  text-decoration: none;
  color: gold;
  font-size: 18px;
  padding: 5px 0;
}
.links h3 {
  padding: 10px 0;
  line-height: 20px;
}
.socials {
  color: rgb(70, 69, 66);
  /* padding: 50px 0; */
  display: flex;
}
.socials i {
  font-size: 24px;
  padding-right: 30px;
  padding-top: 40px;
}
.socials i:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}
.socials i::before {
  color: #ffee10;
  transform: scale(1.1);
  box-shadow: 0 0 5px #ffee10;
  /* text-shadow: 0 0 5px #ffee10; */
  background-color: transparent;
}

.tilt-in-left-1 {
  animation: tilt-in-left-1 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes tilt-in-left-1 {
  0% {
    transform: rotateX(-30deg) translateX(-300px) skewX(-30deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg) translateX(0) skewX(0deg);
    opacity: 1;
  }
}
