@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
* {
  background-color: #01010f;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
}
section {
  width: 80vw;
  /* padding: 60px 20px; */
  height: 100vh;
  margin: auto;
  align-items: center;
  margin: auto;
}
body {
  font-family: 'Comfortaa', sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}

/* NAVBAR STYLES */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 10vh;
  padding: 0px 100px;
  /* position: fixed;
  z-index: 10; */
}
.logo a {
  font-weight: bolder;
  font-size: 22px;
  color: goldenrod;
  align-items: center;
  justify-content: center;
}
.logo span {
  font-size: 80px;
  color: rgb(4, 192, 192);
}
.logo a {
  color: goldenrod;
  font-weight: bold;
}
.nav_links {
  display: flex;
  gap: 150px;
}
.nav_links ul {
  display: flex;
  align-items: center;
  gap: 30px;
  font-weight: 900;
}
.nav_links ul li a {
  color: goldenrod;
}
.nav_links ul li a:active {
  color: rgb(4, 192, 192);
  text-decoration: underline;
}

.nav_links ul li a:hover {
  color: rgb(4, 192, 192);
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.hireBtn a {
  height: 30px;
  width: 120px;
  background-color: goldenrod;
  border-radius: 30px;
  padding: 15px 30px;
  font-weight: bold;
  color: #01010f;
}
.hireBtn a:hover {
  background-color: transparent;
  border: 1px solid goldenrod;
  color: aqua;
}
.Btn a {
  border: 1px solid goldenrod;
  border-radius: 30px;
  font-weight: bold;
  padding: 15px 30px;
  color: aquamarine;
}

.heroleft {
  align-items: center;
  justify-content: center;
}
.helloText {
  font-size: 40px;
  padding-bottom: 60px;
  color: goldenrod;
  font-weight: bold;
}
.nameText {
  color: rgb(223, 247, 247);
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
}
.nameText span {
  color: rgb(4, 192, 192);
  font-size: 45px;
  font-weight: bolder;
}
#heroSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.heroright img {
  align-self: center;
  padding-left: 100px;
  width: 100%;
  height: 100%;
}
.btn_container {
  display: flex;
  gap: 30px;
  padding: 50px 0;
}
/* ABOUT STYLES */

.aboutcontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
}
.aboutHead h2 {
  color: goldenrod;
  font-size: 50px;
  font-weight: 700;
}
.aboutHead span {
  color: rgb(4, 192, 192);
}
.borderDiv {
  width: 350px;
  height: 500px;
  border: 5px dotted rgb(4, 192, 192);
  position: absolute;
  left: 14%;
  background-color: transparent;
}
.about_left {
  padding-right: 50px;
}

.aboutHead p {
  color: rgb(223, 247, 247);
  font-size: 18px;
  letter-spacing: 1.3;
  line-height: 2;
}
.downloadBtn {
  padding: 50px 0;
}
