.swiper {
  max-width: 400px;
  height: 450px;
  padding: 20px;
}
.resumeSection {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  height: inherit;
}
.swiper-slide h3 {
  color: goldenrod;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 0;
}
.swiper-slide h2 {
  color: rgb(4, 192, 192);
  font-size: 35px;
  font-weight: 700;
  /* padding: 20px 0; */
}
.swiper-slide h4 {
  color: goldenrod;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 10px 0;
  letter-spacing: 2px;
}
.swiper-slide p {
  color: rgb(223, 247, 247);
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 18px;
}

.swiper-slide:nth-child(1n) {
  background-color: gold;
  padding: 30px 20px;
  text-align: center;
  background-color: transparent;
  border: 2px dotted goldenrod;

  /* box-shadow: rgba(218, 165, 32, 0.438) 0px 8px 24px; */
}

.swiper-slide:nth-child(2n) {
  background-color: teal;
  padding: 30px 20px;
  text-align: center;
  background-color: transparent;
  border: 2px dotted rgb(32, 206, 218);
}

.swiper-slide:nth-child(3n) {
  background-color: rgb(245, 240, 215);
  padding: 30px 20px;
  text-align: center;
  background-color: transparent;
  border: 2px dotted rgb(238, 225, 194);
}

.swiper-slide:nth-child(4n) {
  background-color: rgb(147, 248, 160);
  padding: 30px 20px;
  text-align: center;
  background-color: transparent;
  border: 2px dotted rgb(65, 238, 12);
}

.swiper-slide:nth-child(5n) {
  background-color: rgb(155, 139, 53);
  padding: 30px 20px;
  text-align: center;
  background-color: transparent;
  border: 2px dotted rgb(194, 137, 6);
}

.swiper-slide:nth-child(6n) {
  background-color: rgb(204, 245, 239);
  padding: 30px 20px;
  text-align: center;
  background-color: transparent;
  border: 2px dotted rgb(1, 132, 141);
}
.slideText {
  padding: 30px;
  color: gold;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}
